*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cream: #f5f0eb;
  --red: #8B1A1A;
  --text: #2c2c2c;
  --gray: #8a8580;
  --light-gray: #d4cfc9;
  --link: #6b6560;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--cream);
  color: var(--text);
  font-family: 'Zalando Sans', Arial, sans-serif;
  min-height: 100vh;
}

